html {
  font-family: "poppins";
  /* color: white; */
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 600px;
  /* background-image: url("../../assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #707070;
}

.nav {
  display: flex;
  justify-content: space-between;
}

/* Nav  */

.menuWrapper {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.menu {
  height: 25px;
  width: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.cart {
  height: 25px;
  width: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.user {
  height: 25px;
  width: 35px;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.menu:hover,
.cart:hover,
.user:hover {
  height: 30px;
  width: 35px;
}

.heroTitle {
  font-size: 55px;
  margin: 20 auto;
}
.text {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: 9px;
  font-size: 18px;
  font-weight: 600;
}

.cartSection {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
