.bodyContainer {
  height: 1200px;
  width: 100%;
  /* background-color: rgb(199, 139, 139);
  border: 2px solid black; */
}

.introduce {
  margin-top: 90px;
  height: 600px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.mr {
  height: 250px;
  width: 270px;
  margin-right: 50px;
  border: 2px solid black;
}

.card {
  background-color: #dadada;
  box-shadow: 0 35px 40px #9aa7bd;
  height: 420px;
  width: 300px;
  border: 2px solid black;
  margin-right: 50px;
}
