.firstProduct {
  margin-top: 0px;
  margin-left: 210px;
  margin-right: 5px;
  cursor: pointer;
}

.secondProduct {
  margin-top: 0px;
  margin-left: 110px;
  margin-right: 0px;
  cursor: pointer;
}
.thirdProduct {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 0px;
  cursor: pointer;
}
.fourthProduct {
  margin-top: 0px;
  margin-left: -60px;
  margin-right: 10px;
  cursor: pointer;
}

.productDescription {
  font-family: "poppins";
  font-weight: 600;
}

.productPrice {
  margin-top: -5px;
  margin-bottom: 70px;
  font-family: "poppins";
  font-weight: 500;
  color: #999999;
}

.productDescription {
  font-family: "poppins";
  cursor: pointer;
  transition: 0.3s;
}
.productDescription:hover {
  color: #d9a259;
}

.react-multiple-carousel__arrow {
  z-index: 999;
}
