.productHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.carouselWrapper {
  margin: 120px;
  padding-bottom: 50px;
}

.productHeading {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #d9a259;
  letter-spacing: 10px;
}

.productTitle {
  font-family: "poppins", sans-serif;
  font-size: 45px;
  font-weight: 640;
  margin: 0px;
}
