.descriptionContainer {
  width: 40%;
}

.heading {
  font-family: "poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #d9a259;
  letter-spacing: 10px;
  margin-top: 0px;
}

.title {
  font-family: "poppins", sans-serif;
  font-size: 45px;
  font-weight: 640;
  margin-top: -10px;
  margin-bottom: 90px;
  padding-right: 100px;
}

.paragraph {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  color: #999999;
  width: 50%;
  margin-bottom: 40px;
}

.footer1 {
  display: flex;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
}
