.descriptionContainer {
  width: 400px;
  /* border: 2px solid black; */
  flex: 4;
}

.heading {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #d9a259;
  letter-spacing: 10px;
  margin-top: 0px;
}

.title {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: 640;
  margin-top: -10px;
  margin-bottom: 90px;
}

.paragraph {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  color: #999999;
  width: 50%;
  margin-bottom: 40px;
}
