.footerContainer {
  background-color: #ebebeb;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerTitle {
  font-family: "poppins";
  font-size: 30px;
  font-weight: 600px;
}
.footerTitle p {
  font-family: "poppins";
  font-size: 20px;
  color: #999999;
}

.terms {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.terms p {
  margin: 0 10px 0 10px;
  font-family: "poppins";
  font-size: 22px;
  font-weight: 500px;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialIcons p {
  font-family: "poppins";
  font-size: 22px;
  font-weight: 500px;
  margin-right: 20px;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 0px 10px 0px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  height: 30px;
  width: 30px;
}

@media (max-width: 1350px) {
  .footerContainer {
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footerTitle {
    font-size: 30px;
    font-weight: 600px;
  }
  .footerTitle p {
    font-size: 18px;
  }

  .terms {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
  }
  .terms p {
    margin: 0 10px 0 10px;
    font-size: 20px;
    font-weight: 500px;
  }

  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .socialIcons p {
    font-size: 20px;
    font-weight: 500px;
    margin-right: 20px;
  }

  .icon {
    height: 22px;
    width: 22px;
    margin: 0px 10px 0px 10px;
  }

  .icon:hover {
    height: 27px;
    width: 27px;
  }
}
@media (max-width: 1250px) {
  .footerContainer {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footerTitle {
    font-size: 25px;
    font-weight: 600px;
  }
  .footerTitle p {
    font-size: 16px;
  }

  .terms {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .terms p {
    margin: 0 7px 0 7px;
    font-size: 17px;
    font-weight: 500px;
  }

  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .socialIcons p {
    font-size: 17px;
    font-weight: 500px;
    margin-right: 15px;
  }

  .icon {
    height: 20px;
    width: 20px;
    margin: 0px 7px 0px 7px;
  }

  .icon:hover {
    height: 23px;
    width: 23px;
  }
}
@media (max-width: 1000px) {
  .footerContainer {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footerTitle {
    font-size: 25px;
    font-weight: 600px;
    margin-top: -10px;
  }
  .footerTitle p {
    font-size: 15px;
    margin-top: -15px;
  }

  .terms {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 75px;
  }
  .terms p {
    margin: 0 7px 0 7px;
    font-size: 17px;
    font-weight: 500px;
  }

  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .socialIcons p {
    font-size: 17px;
    font-weight: 500px;
    margin-right: 15px;
  }

  .icon {
    height: 20px;
    width: 20px;
    margin: 0px 7px 0px 7px;
  }

  .icon:hover {
    height: 23px;
    width: 23px;
  }
}
